// prevent zoom in on mobile
@media (max-width: 899px) {
  input,
  textarea {
    font-size: 16px !important;
  }
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 0.75em 0.875em 0.875em;
  background-color: $black;
  border: 1px solid $walnut;
  font-size: $font-size-xs;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s ease-out;

  &:hover,
  &:focus {
    background-color: rgba($black, 0.666);
  }
  &:hover {
    border-color: $gold;
  }
  &:focus {
    border-color: $white;
  }
}

input[type="number"] {
  appearance: textfield;
}

textarea {
  min-height: 9rem;
}

select {
  appearance: none;
}
.select-indicator {
  @include absolute-vertical-center;
  top: 3.375em;
  right: 1em;
  width: 0.5em;
  height: 0.5em;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-top: 0.375em solid $walnut;
  pointer-events: none;
  transition: border-color 0.2s ease-out;
}
select:hover + .select-indicator,
select:focus + .select-indicator {
  border-top-color: $gold;
}

.control {
  padding-left: $sp-lg;
  user-select: none;
}

.control input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}
.control-indicator {
  @include absolute-vertical-center;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  margin-top: 1px;
  background-color: $black;
  border: 1px solid $brown;
  border-radius: $radius-md;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s ease-out;
}

/* Hover state */
.control:hover .control-indicator {
  background-color: $brown;
}

/* Checked state */
.control input[type="checkbox"]:checked ~ .control-indicator {
  border-color: $gold;
  background-color: $gold;

  &:after {
    @include absolute-center;
    content: "✓";
    display: block;
    font-size: 0.75em;
    margin-top: 1px;
    color: $black;
  }

  &:hover {
    background-color: lighten($gold, 12.5%);
  }
}

/* Focus */
.control input[type="checkbox"]:focus ~ .control-indicator {
  border-color: rgba($white, 0.875);
}
