html {
  background-color: $black;
  color: $white;
}

a {
  color: $aqua;
  text-decoration-color: $navy-medium;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.25em;
  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: $white;
  }
}

a:focus-visible,
button:focus-visible,
[tabindex]:focus-visible {
  outline: 3px dotted rgba($aqua, 0.5);
  outline-offset: 3px;
}
a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
[tabindex]:focus:not(:focus-visible) {
  outline: none;
}

::selection {
  color: $white;
  background-color: rgba($aqua, 0.6);
}
