//////////////////////////////////
// TYPOGRAPHY
//////////////////////////////////

$body-font: museo-sans, sans-serif;
$title-font: museo-slab, serif;
$subhead-font: $body-font;

$body-weight: 300;
$bold-weight: 700;
$subhead-weight: 300;
$title-weight: 700;
$heavy-weight: 900;

$font-size-xl: 2.5rem; // 50px
$font-size-lg: 2rem; // 40px
$font-size-md: 1.6rem; // 32px
$font-size-lg: 1.2rem; // 24px
$font-size-md: 0.9rem; // 18px
$font-size-sm: 0.7rem; // 14px
$font-size-xs: 0.5rem; // 10px

//////////////////////////////////
// COLORS
//////////////////////////////////

$navy-light: #3a4b97;
$navy-medium: #2e3b77;
$navy-dark: #1f2851;

$white: #ffffff;
$light: #c1c4d1;
$grey: #8388a0;
$dark: #444961;
$black: #191b24;

$aqua: #18f2b2;
$sun: #e0ca3c;

$shadow: rgba($black, 0.25);

//////////////////////////////////
// MISC MEASUREMENTS
//////////////////////////////////

$sp-xxs: 0.25rem;
$sp-xs: 0.5rem;
$sp-sm: 0.75rem;
$sp-md: 1rem;
$sp-lg: 1.5rem;
$sp-xl: 2rem;
$sp-xxl: 3.75rem;

$radius-sm: 2px;
$radius-md: 4px;
$radius-lg: 6px;

$navbar-height: 4rem;
$navbar-link-padding: $sp-xs;
