---
const {title} = Astro.props;
---

<div class="column">
  {title &&
    <h3 class="u-font-xl">{title}</h3>
  }
  <slot />
</div>

<style is:global lang="scss">
	@import '../../styles/global';

  .column {
    padding: $sp-lg;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(at top, $navy-medium, $navy-dark 100%);
    border-radius: $radius-md;

    ul {
      list-style-image: disc;
    }
  }

</style>