---
import SectionTitle from './SectionTitle.astro';
import Button from '../Button.astro';
---

<div class="cta u-text-l-c">
  <SectionTitle title="Let’s get started" subtitle="CTA subtitle">
    <Button href="contact">Contact us</Button>
  </SectionTitle>
</div>