---
import RetinaImg from "../RetinaImg.astro";
import Button from "../Button.astro";

const { imgSrc, moreLink, title, subtitle } = Astro.props;
---

<figure class="figure">
  <RetinaImg className="figure-img" file={imgSrc} extension="jpg" />

  {title &&
    <h3 class="figure-title u-font-xl">{title}</h3>
  }
  {subtitle &&
    <p class="figure-subhead u-subhead">{subtitle}</p>
  }

  <figcaption class="figure-caption u-font-lg u-text-l">
    <slot />
    {moreLink &&
      <Button href={moreLink} fontSize="md">Learn more</Button>
    }
  </figcaption>
</figure>


<style is:global lang="scss">
	@import '../../styles/main';

  .figure[class] {
    width: 48rem;
    max-width: 100%;
    padding: $sp-xl;
    margin-top: $sp-lg;
    margin-bottom: $sp-xxl + $sp-md;
    background-image: radial-gradient(circle at 33.333%, $navy-medium -25%, $navy-dark 100%);
    border-radius: $radius-md;
  }

  .figure-subhead {
    top: -1.375em;
  }

  .figure-caption {
    & > p,
    & > h3 {
      font-size: inherit;

      &:not(:last-child) {
        margin-bottom: $sp-md;
      }
    }

    & > .button {
      margin-top: $sp-xs;
    }
  }

  .figure-img {
    object-fit: cover;
    border-radius: $radius-md;
    outline: $radius-md solid $black;
    background-color: $grey;
    margin-top: -#{$sp-xl + $sp-xs};
    margin-bottom: $sp-xl;

    @media (min-width: 700px) {
      position: absolute;
      top: $sp-md;
      right: -$sp-md;
      margin-top: 0;
      height: 100%;
      width: 40%;

      & ~ * {
        width: 58%;
      }
    }
  }
</style>