---
import RetinaImg from "../RetinaImg.astro";
import NavLinks from "./NavLinks.astro";

const currYear =  new Date().getFullYear();
---

<footer class="footer u-text-c">
	<a class="footer-logo u-mb-xs u-mh-auto" href="/" draggable="false">
		<RetinaImg
			className="footer-logo-img"
			file="logo-vertical"
			alt="J.R. Bauer Construction (home)"
		/>
	</a>
	<NavLinks isFooter />
  <p class="footer-colophon u-font-xs u-mb-xs">
    All content copyright ©2024{currYear === 2024 ? "" : `-${currYear}`} Global Entertainment Fabrication. All rights reserved.
  </p>
  <p class="footer-colophon u-font-xs">
    Website and brand identity by <a href="https://jamesferrell.me" target="_blank">James Ferrell</a>.
  </p>
</footer>

<style is:global lang="scss">
	@import '../../styles/global';

  .footer {
    padding: $sp-md $sp-xl $sp-xl $sp-xl;
    background-image: radial-gradient(at top, $navy-medium -25%, $navy-dark 100%);
  }

  .footer-logo {
    display: block;
    width: 8.25rem;
  }

  .footer > .nav-links {
    justify-content: center;
    margin-bottom: $sp-xl;
    transform: translatey(0.25em); // fudgin'
  }
</style>