---
import RetinaImg from "../RetinaImg.astro";

const {slug, props = {}} = Astro.props;
const {title, headline, subhead, useDefaultImg, textOnly} = props;
---

<div class={`hero ${textOnly && "text-only-hero"}`}>
  {!textOnly &&
    <div class={`hero-img-wrapper ${slug}-hero-img-wrapper`}>
      <RetinaImg
        className="hero-img u-mh-auto"
        file={`hero/${useDefaultImg ? "default" : slug}-hero`}
        extension="jpg"
      />
    </div>
  }

  <div class="hero-caption u-mh-auto u-text-l-c">
    <h1 class={`hero-title u-font-xxxl ${subhead ? "u-mb-xs" : ""}`}>{headline || title}</h1>
    {subhead &&
      <p class="hero-paragraph u-font-lg">{subhead}</p>
    }
  </div>
</div>

<style is:global lang="scss">
	@import '../../styles/global';

  .hero {
    display: flex;
    align-items: center;
    background-color: lighten($black, 2);

    @media (min-width: 600px) {
      min-height: 44vh;
    }
  }

  .hero-inner {
    @include container;
  }

  .hero-img-wrapper {
    @include absolute-expand;
    width: 100%;
  }

  .hero-img {
    @include absolute-expand;
    object-fit: cover;
  }

  .hero-caption {
    max-width: 100%;
    width: 32rem;
    padding: 4rem $sp-xl 4.5rem $sp-xl;
    z-index: 1;
  }

  .text-only-hero .hero-caption {
    @include container;
  }

  .text-only-hero {
    margin-top: 0;
  }
</style>