---
import RetinaImg from "../RetinaImg.astro";
import NavLinks from "./NavLinks.astro";
---

<nav class="nav">
	<div class="nav-inner">
		<a class="nav-logo" href="/" draggable="false">
			<RetinaImg
				className="nav-logo-img"
				file="logo-horizontal"
				alt="J.R. Bauer Construction (home)"
			/>
		</a>
		<NavLinks />
	</div>
</nav>

<style is:global lang="scss">
	@import '../../styles/global';

	.nav {
		background-color: $navy-dark;
		background-image: linear-gradient(to right, $navy-medium, $navy-dark);

	}

	.nav-inner {
		@include container;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-left: $sp-xl;
		padding-right: $sp-xl;

		@media (min-width: 600px) {
			.nav-item:not(:last-of-type) > .nav-link {
				display: block;
				line-height: 3em;
				border-radius: 0;
			}
		}
	}

	.nav-logo {
		margin-right: $sp-lg;
		margin-top: 1px;
		left: -$sp-xxs;
		width: 7.5rem;
	}
</style>