---
const currPath = Astro.url.pathname;

const links = [
	// {title: "Home", href: "/"},
	{title: "About", href: "/about/", a11y: "J.R. Bauer Construction"},
	{title: "Why ICF", href: "/why-icf/", a11y: " (Insulated Concrete Forms)"},
	// {title: "Careers", href: "/careers/"},
	{title: "Contact us", href: "/contact/", isButton: true}
];

const { isFooter } = Astro.props;
---

<ul class="nav-links">
  {links.map(link => (
    <li class="nav-item">
      <a
        class={`nav-link u-font-sm ${link.isButton && !isFooter ? "button" : ""}`}
        href={link.href}
        aria-current={currPath === link.href ? "page" : null}
      >
        {link.title}{link.a11y &&
          <span class="u-visually-hidden"> {link.a11y}</span>
        }
      </a>
    </li>
  ))}
</ul>

<style is:global lang="scss">
	@import '../../styles/global';

	.nav-links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.nav-item:not(:last-child) {
		margin-right: $sp-xxs;
	}

	.nav-link {
		text-decoration: none;
		padding: 0.5em 0.625em 0.5em 0.625em;
		color: $white;
		border-radius: $radius-sm;

		&[aria-current="page"]:not(.button) {
			background: $navy-light;
		}

		&:not([aria-current="page"]):not(.button) {
			&:hover, &:focus {
				color: $aqua;
			}
		}
	}
</style>