---
const { title } = Astro.props;
---

<div class="section-title u-text-l-c u-mb-xxs">
  <div class="section-title-title">
    <h2 class="section-title-text u-font-xxl">
      {title}
    </h2>
  </div>

  <slot />
</div>

<style is:global lang="scss">
	@import '../../styles/main';

</style>