---
import work from "../../data/work.json";
import JobThumb from "../JobThumb.astro";
---

<script>
  import Splide from "@splidejs/splide";

  new Splide(".splide", {
    type: "loop",
    pagination: false,
    fixedWidth: "16.825rem",
    gap: "0.5rem"
  }).mount();
</script>

<div class="splide work-carousel">
  <div class="splide__track">
		<ul class="splide__list">
      {work.map(job => (
        <li class="splide__slide">
          <JobThumb props={job} />
        </li>
      ))}
		</ul>
  </div>
</div>

<style is:global lang="scss">
	@import '../../styles/global';

  .work-carousel {
    padding: $sp-lg;
  }

  .splide__arrows {
    @include absolute-expand;
  }
  .splide__arrow {
    @include absolute-vertical-center;
    color: $dark;

    &:hover, &:focus {
      color: $white;

      svg {
        transform: none;
      }
    }

    svg {
      transform: scale(0.875);
      fill: currentColor;
      transition:
        transform 0.2s ease-out,
        color 0.2s ease-out;
    }
  }
  .splide__arrow--prev {
    left: -$sp-xs;

    svg {
      transform: scaleX(-1) scale(0.875);
    }

    &:hover svg, &:focus svg {
      transform: scaleX(-1);
    }
  }
  .splide__arrow--next {
    right: -$sp-xs;
  }
</style>