---
import Layout from '../layouts/Layout.astro';
import BigStat from '../components/BigStat.astro';
import ColumnsSection from '../components/layout/ColumnsSection.astro';
import Column from '../components/layout/Column.astro';
import Figure from '../components/layout/Figure.astro';
import CTA from '../components/layout/CTA.astro';
import SectionTitle from '../components/layout/SectionTitle.astro';

const heroProps = {
	headline: "About us",
	subhead: "We’re a small team with the skills, experience, and worth ethic to get the job done right.",
	useDefaultImg: true
}
---

<Layout slug="about" title="About" heroProps={heroProps}>
	<SectionTitle title="We’re built for this" />
	<Figure imgSrc="figure/about-us-figure">
		<p>With over 30 years of hands-on construction experience in Florida, J.R. Bauer Construction has built a reputation for delivering strong, sustainable, and disaster-resistant homes.</p>

		<p>Founded more than 20 years ago, we specialize in <a href="/why-icf/">Insulated Concrete Form</a> (ICF) construction, a method known for its superior energy efficiency, durability, and resilience in the face of Florida’s challenging weather conditions.</p>
	</Figure>

	<ColumnsSection>
		<Column>
			<h3 class="u-font-lg u-mb-lg">From the beginning, our commitment to quality craftsmanship and attention to detail has set us apart.</h3>

			<p class="u-font-lg">We pride ourselves on constructing homes that not only meet our clients’ needs but also stand the test of time, providing protection and peace of mind. Our proven track record of success is a testament to our dedication to innovation, safety, and customer satisfaction.</p>
		</Column>
		<Column>
			<h3 class="u-font-lg u-mb-lg">At J.R. Bauer Construction, we don’t just build houses-we build homes for your future.</h3>
			<p class="u-font-lg">Whether you’re looking for a hurricane-resistant coastal home or a sustainable, energy-efficient property, we have the experience and expertise to bring your vision to life.</p>
		</Column>
	</ColumnsSection>

	<div class="big-stat-section u-mb-xxl">
		<BigStat value="30+" label="years experience" />
		<BigStat value="300+" label="satisfied customers" />
	</div>

	<CTA title="Let’s work together"/>
</Layout>

<style is:global lang="scss">
	@import '../styles/global';

	.big-stat-section {
		display: flex;
		justify-content: center;

		.big-stat + .big-stat {
			margin-left: $sp-xl;
		}
	}
</style>
