---
const {
  href = undefined,
  type = undefined,
  isBlock = false,
  fontSize = "xs"
} = Astro.props;
---

{type ?
  <button class={`button${isBlock ? ' is-block' : ''}
  u-font-${fontSize}`} {type}>
		<slot />
	</button>
: <a class={`button${isBlock ? ' is-block' : ''}
u-font-${fontSize}`} {href}>
    <slot />
  </a>
}

<style is:global lang="scss">
  @import '../styles/global';

	.button {
		@include body-text;
		display: inline-block;
		width: max-content;
		font-weight: $heavy-weight;
		text-decoration: none;
		padding: 0.5em 1em 0.625em 1em;
		color: $black;
		background-color: $aqua;
		border-radius: $radius-sm;
		transition: 0.2s ease-out background-color;

    &:hover, &:focus {
      color: $black;
      background: $white;
    }

		&.is-block {
			display: block;
			width: 100%;
		}
	}
</style>
