---
import RetinaImg from "./RetinaImg.astro";

const { slug } = Astro.props.props;
---

<a class="job-thumb" href={`/work/${slug}`}>
  <!-- {id} -->
  <RetinaImg
    className="job-thumb-img"
    file={`work/${slug}-thumb`}
    extension="jpg"
    loading="eager"
  />
</a>

<style is:global lang="scss">
	@import '../styles/global';

  .job-thumb {
    display: block;
    overflow: hidden;
    border-radius: $radius-md;
  }
  .job-thumb-img {
    width: 100%;
    transform: scale(1.01);
  }
</style>
